@import url(https://weloveiconfonts.com/api/?family=brandico);
@import url(https://weloveiconfonts.com/api/?family=zocial);
@import url(https://weloveiconfonts.com/api/?family=iconicfill);

.casestudy-headpic-img{
    height: 100%;
    width: 100vw;
    margin: auto;
    display: block;
   
}


