

article{
	margin: 0;
	border-bottom: 1px solid #ddd;
	color: #696969;
	font-family: "Montserrat",Sans-serif;
	text-align: center;
	-webkit-font-smoothing: antialiased 
}


body{
	margin:0 auto;
}
#background{
	background: #F5F5F5;
}



header{
	height:0;
	left:0;
	float:left;
}
img.logo {
	height: 15vh;
	margin: 1vh auto 1vh auto;
	width: 15vw;
	cursor: pointer;
	text-shadow: 0px 9px 250px -15px red;
  }
  header:hover img.logo {
	fill: #FF6347;
	-webkit-filter: drop-shadow(3px 3px 3px #ddd);
	filter: drop-shadow(3px 3px 3px #ddd);
  }

.checkbtn{
	font-size: 30px;
	color: #696969;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}


  ul{
	padding: 0;
	list-style: none;
	float: right;
	text-align: right;
	
}

ul li{
	display: inline-block;
	position: relative;
	line-height: 21px;
	text-align: left;

}
ul li a{
	display: block;
	padding: 8px 25px;
	color: #333;
	text-decoration: none;
}
ul li a:hover{
	color: #FF6347;
}
ul li ul.dropdown{
	min-width: 100%; /* Set width of the dropdown */
	background: #F0F0F0;
	display: none;
	position: absolute;
	z-index: 999;
	left: 0;
}
ul li:hover ul.dropdown{
	display: block;	/* Display the dropdown */
}
ul li ul.dropdown li{
	display: block;
}

.text {
	margin-top: 5%;
	text-align:left;
	font-size: 3vh;
}
.pic{
	float: left;
	margin: 5%;
	max-width:50vw;
	max-height:50vh;
	width: auto;
	height: auto;
}


.image{
	opacity:1;
	display: block;
	max-width: 100%;
	max-height: 60%;
	margin: auto;
	transition: .5s ease;
	backface-visibility: hidden;
	
}

.gimage {
	width: 100%;
}

.gallery{
	max-width: 30%;
	max-height: 60%;
	position: relative;
	display: flex;
	justify-content: space-evenly;
}
.tabcontent{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin: auto;
}
.projectnav{
	overflow: hidden;
	text-align: center;
	display: inline-block;
	padding: 3vh;
	margin: auto;
  }
  
  .projectnav a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	border-top: 3px solid transparent;
  }
  
  .projectnav a:hover {
	border-top: 3px solid red;
  }
  
  .projectnav a.active {
	border-top: 3px solid red;
  }


  .bigcontainer{
	width: 45%;
	text-align: center;
	margin: auto;
}

.overlay{
		transition: .5s ease;
		opacity: 0.3;
		position: absolute;
		background-color: #494c4e;
		width: 60%;
		height: 60%;
		margin: auto;
		z-index: 2;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		text-align: center;
}
.container{
	width: 100%;
	text-align: left;
	vertical-align: center;
}

.container:hover .image {
	opacity: 0.3;
  }
  
  .container:hover .overlay {
	opacity: 1;
  }
  
.centerblock_home {
	display: flex;
	width: 100%;
	margin: 0;
	height: 80vh;

}
.centerblock_text{
	text-align: left;

}
.home1 {
	background-image:linear-gradient(90deg,#c2e59c, #64b3f4);	
}

.title{
	padding-top: 10vh;
	font-family: "Montserrat",Sans-serif;
	font-size: 5vh;
	text-align: center;
	color: #696969;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
}

.centerblock_home div form div div {
	display: inline-block;

}

.home2{
	background-color: #f5f5f5;
	
}
.explain{
	width: 44vw;
	text-align: left;
}

.container:hover .middle{
	opacity: 1;
  }
  .container:hover .image1{
	opacity: 0.3;
  }
	
.container {
	position: relative;
}
.middle {
	position: absolute;
	transition: .1s ease;
	opacity: 0;
	top: 50%;
	left: 50%;
	background-color: #296c99;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	width: 25%;

}
.middletext {
  background-color: #F0F0F0;
  color: #991616;
  font-size: 16px;
  padding: 16px 32px;
}

.centerblock {
	width: 50%;
	margin: 10vh auto;
	text-align: left;
}


/*=================== contact form start ====================*/

.form{
	margin: auto 3em auto 3em;
}




.form-contact label {
  font-size: 14px;
}


.form-contact .form-group {
  margin: 0 5px 10px 0;
  width: 48%;
}

.form-comment {
	width: 100%;
}

.form-contact .form-control {
  border: 2px solid #e5e6e9;
  border-radius: 10px;
  height: 48px;
  padding-left: 18px;
  font-size: 13px;
  background: #F0F0F0;

}

.form-contact .form-control:focus {
  outline: 0;
  box-shadow: none;
}


.form-contact .form-control::placeholder {
  font-weight: 400;
  color: #696969;
  font-size: 14px;
}

.form-contact textarea {
  border-radius: 0px;
  height: 100% !important;

}

/*=================== contact form end ====================*/


  
footer{
	background-color: #f5f5f5;
}

/*4 Zocial icons*/

[class*="zocial-"]:before {
	color: black;
	display: inline-block;
	font-family: 'zocial', sans-serif;
	text-shadow: 3px 3px 3px #aaa;
	width: 2em;
  }
  
.social{
	text-align: center;
}
.social a {
  margin: 0 1em 0 0;
  text-align: center;
}

.social a:last-of-type {
  margin: 0;

  }
.copyright{
	text-align: center;
	color: #696969;
	font-family: Montserrat,Sans-serif;
	padding-top: 10px;



@media screen and (max-width: 900px){ 
	.centerblock_home div form div div {
		display: block;
	
	}

.aword{
	color:grey;
}

#scrollbutton a {
	padding-top: 60px;
	
  }
  #scrollbutton a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb04 2s infinite;
	animation: sdb04 2s infinite;
	box-sizing: border-box;
  }
  @-webkit-keyframes sdb04 {
	0% {
	  -webkit-transform: rotate(-45deg) translate(0, 0);
	}
	20% {
	  -webkit-transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
	  -webkit-transform: rotate(-45deg) translate(0, 0);
	}
  }
  @keyframes sdb04 {
	0% {
	  transform: rotate(-45deg) translate(0, 0);
	}
	20% {
	  transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
	  transform: rotate(-45deg) translate(0, 0);
	}
  }

