

article{
	max-width: 80em;
	margin: 0 auto;
	border-bottom: 1px solid #ddd;
	color: #696969;
    font-family: "Montserrat",Sans-serif;
    -webkit-font-smoothing: antialiased 
}

/*Body settings*/
body{
	margin:0 auto;
}


header{
	height: 0;
}


header:hover img.logo {
  fill: #FF6347;
  -webkit-filter: drop-shadow(3px 3px 3px #ddd);
  filter: drop-shadow(3px 3px 3px #ddd);
}
.checkbtn{
	font-size: 30px;
	color: #696969;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;

}
@media(min-width: 858px){
	img.logo{
		height: 15vh;
  		margin: 1vh auto 1vh auto;
 		width: 15vw;
 		padding-left: 50px;
	}
	nav ul li a{
		text-decoration: none;
		font-size: 16px;
		font-family: "Montserrat",Sans-serif;
		color: #696969;
		text-transform: uppercase;
		display: block;
	}

}
@media (max-width: 858px){
	.checkbtn{
		display:block;
	}
	nav ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: gold;
		margin: 80px auto auto -100%;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
	}
	nav ul li{
		display: block;
	}
	nav ul li a{
		text-decoration: none;
		color: #696969;
		text-transform: uppercase;
   		font-size: 20px;
    	font-family: "Montserrat",Sans-serif;
	}
	a:hover, a.active{
		background: none;
		color: #0082e6;
	}

}


.subtitie{
	margin: 5vh auto;
	text-align: left;
}
.thirdtitle{
	text-align: left;
	color:#FF6347;
}


.bigcontainer{
	display: flex;
	flex-wrap: wrap;
	width: 100vw;

}


.container:hover .image1{
  opacity: 0.3;
}

.container:hover .middle{
  opacity: 1;
}




/*Mostly fluid Patterns*/

@media screen and (min-width: 650px) and (max-width: 899px){
	.image1,.image2{
	 width: 48%;
	 margin: 1%;
	 
	}
	 .image3,.image4{
     width: 48%;
	 margin: 1%;
     
    }
     .image5,.image6{
     width: 48%;
	 margin: 1%;

    }

}

@media screen and (min-width: 900px){ 
	.image1,.image2, .image3{
	
	 margin: auto;
	}
	.image4,.image5,.image6{
     
    }
	.centerblock div form div div {
		display: block;
	
	}
	.form-contact .form-group {

		margin-bottom: 30px;
		width: 100%;
	  }
}

/*4 Zocial icons*/

[class*="zocial-"]:before {
  color: black;
  display: inline-block;
  font-family: 'zocial', sans-serif;
  text-shadow: 3px 3px 3px #aaa;
  width: 2em;
}


/*Dropdown menu start*/


/*=================== contact form start ====================*/

.form{
	margin: auto 3em auto 3em;
}




.form-contact label {
  font-size: 14px;
}


.form-contact .form-group {
  margin: 0 5px 10px 0;
  width: 48%;
}

.form-comment {
	width: 100%;
}

.form-contact .form-control {
  border: 2px solid #e5e6e9;
  border-radius: 10px;
  height: 48px;
  padding-left: 18px;
  font-size: 13px;
  background: #F0F0F0;

}

.form-contact .form-control:focus {
  outline: 0;
  box-shadow: none;
}


.form-contact .form-control::placeholder {
  font-weight: 400;
  color: #696969;
  font-size: 14px;
}

.form-contact textarea {
  border-radius: 0px;
  height: 100% !important;

}

/*=================== contact form end ====================*/
.centerblock_home{
	height: 100vh;
}
