
article{
	max-width: 80em;
	margin: auto;
	border-bottom: 1px solid #ddd;
	color: #696969;
	font-family: "Montserrat",Sans-serif;
	text-align: center;
}
body{
	margin:0;
}
#background{
	background: #F5F5F5;
}
header{
	height:0;
}

.row {
	text-align: center;
}

.form-contact {
	float: center;
}

.centerblock {
	width: 50%;
	margin: 10vh auto;
	text-align: left;
}

.centerblock div form div div {
	display: inline-block;

}

@media screen and (max-width: 900px){ 
	.centerblock div form div div {
		display: block;
	
	}
	.form-group {
		margin-bottom: 30px;
		width: 100%;
	  }
}
