

article{
	max-width: 80em;
	margin: 0 auto;
	border-bottom: 1px solid #ddd;
	color: #696969;
	font-family: "Montserrat",Sans-serif;
	text-align: center;
}
body{
	margin:0;
}
#background{
	background: #F5F5F5;
}
header{
	height:0;
}


.centerblock_home {
	width: 50%;
	margin: auto;
	
}
.centerblock_text{
	text-align: left;
}

.centerblock_home div form div div {
	display: inline-block;

}

@media screen and (max-width: 900px){ 
	.centerblock_home div form div div {
		display: block;
	
	}

.aword{
	color:grey;
}